[Unit]
Description=Encryptmail Mail Transport Agent
Requires=network-online.target

[Service]
WorkingDir=/var/lib/encryptmail
User=encryptmail
Group=encryptmail
UMask=0077
# FIXME: maybe use socket activation
Type=simple
ExecStart=/usr/bin/encryptmail-mta
PrivateTmp=true
PrivateDevices=true
Restart=always

[Install]
WantedBy=multer-user.target
