include encryptmail.service
include encryptmail-tmpfile.conf
include encryptmail.yaml
include gpl-2.0.txt
include gpl-3.0.txt
include Makefile
include MANIFEST.in
include selinux/*.fc
include selinux/*.if
include selinux/Makefile
include selinux/*.te
include setup.py
